@media screen and  (min-width: 768px){
    body{
        margin: auto;
    }
    #a{
       
        border: 1px solid black;
        box-sizing: border-box;
        
    }
    
    
    #b{
        
        border: 1px solid black;
        box-sizing: border-box;
        
    }
    .cd{
        
        border: 1px solid black;
        box-sizing: border-box;
        
    }
    .efgh{
        
        border: 1px solid black;
        box-sizing: border-box;
        
    }
    #i{
        
        border: 1px solid black;
        box-sizing: border-box;
        
    }
    }
    
    @media screen and  (max-width: 767px){
        body{
            
            margin: auto;
        }
        
        #a{
            
            
            border: 1px solid black;
            box-sizing: border-box;
            
        }
        #b{
            
            border: 1px solid black;
            box-sizing: border-box;
            
        }
        .cd{
            
            border: 1px solid black;
            box-sizing: border-box;
            
        }
        .efgh{
            
            border: 1px solid black;
            box-sizing: border-box;
            
        }
        #i{
            
            border: 1px solid black;
            box-sizing: border-box;
            
        }
        }